
h2, h3, h4, h5, h6 {
    color: greenyellow;
    width: 500px;
    border: 2px;
    text-align: center;
  }
  html {
      font-size: 25px; font-family: 'Quicksand', sans-serif;
      background-image: url(picolas.png);
      background-size: 100vw 100vh;
  }
  li {
      color:aqua;
  }
  .p2 {
      color:blueviolet;
  }
  .buy {
      color: red;
  }
  .Paragrafo1 {
      color:yellow
  }
.table {
    color:rgb(0, 255, 0)
}
.def {
    color: darkorange;
}

body{
  width: 600px;
  padding: 0 50px 100px 20px;
  align-content: space-around   ;
}
h1 {
    text-align: center;
        color: white;
        line-height: normal;
        margin: 0;
  }
  img {
      display: block;
      margin: 0 auto;
  }
  video {
      display: block;
      margin: 0 auto;
  }
.f {
    color: red;
}
.sicolas, #wo {
  border: 5px solid black;

}
.jar {
    border: 5px solid black;
}
header, nav{
background: black;
height: 100px;
    
}

/*utilizar o comando overflow
overflow hidden: esconde o exesso
overflow (x,y) scroll: cria uma barra de scroll no eixo escolhido ou em todos
overflow auto: define automaticamente como se deve posicionar o scroll ou não

utilizar hsl e hsla
opacidade (entre 0 e 1)
hoe (roda de cores em 360), saturation, lightness
"a" mesmo que opacidade mas incluido no hsl

*/